/* .nav-item:hover {
    transition: all 1.5s;
} */

.navbar-nav {
    margin: 0 15px;
}

.navbar {
    height: 60px;
    /* height: 45px; Increased it, since there is no background color anymore. */
    padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #17a2b8;
    /* font-weight: bold; */
    /* background: white; */
    transition: all 1.0s;
}

.bg-black {
    background: black;
}

.nav-item {
    margin: 0 10px;
}

a.nav-link i {
    /* display: block; See if you want it up or by the left. */
    margin-right: 10px;
    text-align: center;
    /* padding-right: 10px; */
}

.collapse.show {
    display: block;
    background: black;
    height: 290px;
}

.form-inline {
    margin: 14px 34px;
}

.dropdown-toggle::after {
    display:none;
}

/* Hamburger on toggle */
.fa-bars {
    color: white;
}

/* OLD CODE. DON'T DELETE. */

/* OLD NAVBAR */

/* .logo {
    padding-top: 0px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.nav-linksLeft {
    display: inline-block;
    line-height: 25px;
}

.nav-linksRight {
    display: inline-block;
    line-height: 25px;
    /* float: right; 
    margin-right: 25px;
}

.nav-linksRight li,
.nav-linksLeft li {
    display: inline;
    padding: 5px 15px;
    list-style-type: none;
}

*/