@font-face {
    font-family: RobotoSlab-Regular;
    src: url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}

body {
    font-family: 'Roboto Slab';
}

.navbar {
    letter-spacing: 5px;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}

a.navbar-brand {
    font-size: 20px;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: #17a2b8;
    transition: all 1.0s;
}

.firstLetter {
    font-size: 25px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #17a2b8;
    transition: all 1.0s;
}

div.mainHeader {
    width: 100%;
    text-transform: uppercase;
    padding-top: 25px;
}

div.colorA {
    background: #E3F2FD;
    text-align: center;
    height: 91vh;
}

div.mainHeader h3.head {
    font-size: 35px;
}

div.mainHeader p.content-summary {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 5px;
}

a.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    /* border: 0.1em solid white; */
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    background: #120B1E;
    transition: all 0.9s;
}

a.button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

div.mainHeader img.colorA-img {
    padding-top: 20px;
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 65%;
}

div.colorB {
    background: #BBDEFB;
    height: 100%;
}

div.content {
    background-color: rgba(255, 255, 255, 0.75);
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    /* height: 100%; */
    margin-bottom: 20px;
    /* overflow: hidden; */
    position: relative;
    min-width: 500px;
}

/* FOR CONTAINERS WITH LEFT ALIGNMENT */

div.content .imgContainer {
    float: left;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    padding: 25px;
}

div.content .contentContainer {
    overflow: hidden;
    padding: 10px;
}

.contentContainer h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
}

.contentContainer .content-summary {
    font-size: 14px;
    padding-bottom: 25px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    div.content .imgContainer {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }
}

/* FOR CONTAINERS WITH RIGHT ALIGNMENT */

div.content .imgContainer-right {
    float: right;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    padding: 25px;
}

div.content .contentContainer-left {
    overflow: hidden;
    padding: 10px;
}

.contentContainer-left h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: -1px;
}

.contentContainer-left .content-summary {
    font-size: 14px;
    padding-bottom: 25px;
    text-align: center;
}

/* GENERAL PURPOSE MEDIA QUERIES */

@media screen and (max-width: 1068px) {
    div.content .imgContainer-right {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }
}

@media (max-width: 730px) {
    div.mainHeader img.colorA-img {
        padding-top: 20px;
        display: block;
        width: 85%;
        margin: 0 auto;
        height: 50%;
    }
}

@media (max-width: 550px) {
    div.mainHeader img.colorA-img {
        padding-top: 20px;
        display: block;
        width: 85%;
        margin: 0 auto;
        height: 55%;
    }
    div.content img {
        margin: 25px 20px;
    }
}

@media (max-width: 492px) {
    div.mainHeader img.colorA-img {
        padding-top: 20px;
        display: block;
        width: 93%;
        margin: 0 auto;
        height: 48%;
    }
    div.content img {
        margin: 25px 9px;
        height: 50%;
    }
}

/* FOOTER CSS */

div.footer {
    position: relative;
    min-width: 500px;
    width: 90%;
    background: #191919;
    padding-bottom: 50px;
    margin: 100px auto 70px auto;
}

div.leftInfo {
    width: 50%;
    float: left;
    overflow: hidden;
    color: white;
    padding: 25px;
}

div.leftInfo h3 {
    font-size: 19px;
}

hr.style1 {
    border-top: 1px solid #8c8b8b;
}

div.leftInfo p {
    font-size: 15px;
}

div.rightInfo {
    overflow: hidden;
    color: white;
    padding: 25px;
}

div.rightInfo h3 {
    color: white;
    font-size: 19px;
}

div.socials {
    padding-top: 30px;
}

@media screen and (max-width: 900px) {
    div.leftInfo {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }
}

/* 
div.content {
    width: 80%;
    height: 300px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}  
div.imgContainer {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 30px;
}

div.imgContainer img {
    max-width: 100%;
    height: auto;
}

div.contentContainer {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
}

div.contentContainer h1 {
    padding-top: 20px;
    text-align: left;
    font-size: 1.5rem;
}

div.contentContainer p {
    text-align: left;
} */