/* CONTAINS CODE FOR SETTINGS */

.sClass {
    width: 750px;
    height: 700px;
    background-color: white;
    margin-left: 395px;
    margin-top: -49px;
    border: 1px;
    border-style: groove;
    border-radius: 5px;
    overflow: hidden;
}

.mainHeading {
    padding: 10px 10px 0px 10px;
    font-size: 18px;
}

.urlForm {
    padding: 10px 10px 0px 10px;
    font-size: 18px;
}

.sectionHeader {
    padding: 0px 10px 0px 10px;
    font-size: 17;
}

.submitBtn {
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 90%;
    color: white;
    background-color: black;
    outline: 0;
    margin: 0;
}

#phoneNum {
    width: 25%;
    height: 35px;
    border-radius: 3px;
    margin: 0px;
    border: 1px solid #D3D3D3;
    font-size: 14px;
    padding: 5px;
    resize: none;
}

#urlInfo {
    padding: 0px 10px 0px 10px;
    font-size: 15;
}

.textField {
    width: 35%;
    height: 35px;
    border-radius: 3px;
    margin: 0px;
    border: 1px solid #D3D3D3;
    font-size: 14px;
    padding: 5px;
    resize: none;
}

.text {
    width:80%;
}

.formLabels {
    font-size: 14;
    color: grey;
    padding: 0px 10px 0px 10px;
}

div.firstName {
    display:inline-block;
    width:40%;
}
div.lastName{
    display:inline-block;
    width:40%;
}







/* CODE FOR SIDE NAV */

.mainClass {
    border-collapse: collapse;
    width: 299px;
    height: 50px;
    margin-left: 90px;
    margin-top: 40px;
}

.anchortags {
    padding-left: 10px;
}

/* um, don't access elements with their general tags. Since they're used up almost everywhere. 
Be more specific to get proper results. 
Remove comment after reding 
*/

li.link a {
    color: black;
    margin: 0px;
    display: block;
    width: 100%;
    height: 20px;
}

li.link p {
    height: 9px;
}

li.link a:hover {
    text-decoration: none;
    color: black;
}

.contents {
    list-style-type: none;
    text-align: left;
    background: white;
    padding: 0px;
    border: 1px;
    border-style: groove;
    border-radius: 5px;
}

.link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.link:hover {
    background-color: #17a2b8;
}

.linkBorderA {
    border-bottom: 1px groove #eee;
    border-color: iceblue;
}

.linkBorderB {
    border-bottom: 1px solid black;
}

th,
td {
    border: 1px solid black;
    background-color: white;
    padding: 15px;
    height: 40px;
    width: 299px;
}

a.anchortags .fa,
a.anchortags .fas {
    float: right;
    margin-right: 10px;
    font-size: 13px;
    margin-top: 4px;
}

